body {
    background: #202020;
    color: #fff;

    max-width: 600px;
    margin-top: 0;
    padding-top: 0;
    margin: auto;

    max-height: 100vh;
    overflow: none;
}

:root {
    --chatbox-height: 25px;
}

messages {
    display: block;
    --height: calc(95vh - var(--chatbox-height) - 5rem);
    max-height: var(--height);
    height: var(--height);

    padding-bottom: 200px;
    margin-bottom: 200px;

    padding-top: 2.5rem;
}

input {
    background: #111;
    color: #fff;
    border: none;
    padding: 10px;

    display: block;
    --height: var(--chatbox-height);
    max-height: var(--height);
    height: var(--height);
    outline: none;
    width: 600px;
    max-width: 90vw;
    padding-left: 1.5rem;
    border-radius: 5px;

    z-index: 3;

    position: fixed;
    bottom: 50px;
    left: 50vw;

    transform: translateX(-50%);
}

red {
    color: #ff5555;
}

green {
    color: #55ff55;
}

red, green {
    user-select: none;
}

message {
    display: block;
    margin-bottom: 10px;
}

think {
    border: 2px solid #303030;
    background: #101010;
    color: #aaa;
    display: block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
}

think { display: none !important; }

img {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
    display: block;
}

space {
    display: block;
    height: 100px;
}